<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>MakersBnb</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
      integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN"
      crossorigin="anonymous"
    />
  </head>

<body>
<div class='index-page'>

<form class="form sign-in" action="/sessions" method="post">
<h2 class='sign-in-header'>Log In</h2>
<h2>
<%= flash[:notice] %>
</h2>
<input type="email" name="log_email" placeholder="Email"/>
<input type="password" name="log_password" placeholder="Password"/>
<input type="submit" value="Log In" class='button'/>
</form>

<form class="form sign-up" action="/users" method="post">
<h2>Create new account</h2>
<input type="text" name="name" placeholder="Your name"/>
<input type="text" name="username" placeholder="Username"/>
<input type="email" name="email" placeholder="Email"/>
<input type="password" name="password" placeholder="Password"/>
<input type="submit" value="Submit" class='button'/>
</form>
</div>
<div style="display: flex; align-items: center; flex-direction: column; background: linear-gradient(360deg, #99AAAB, transparent);">
<h3>Team members</h3>
<div style="border-top: 1px solid black; height: 160px; display: flex; margin-top: 20px; justify-content: center; width: 70vw;">
<div style="margin: 10px; display: flex; flex-direction: column; align-items: center;"><h4>Liam Roberts</h4><a href="https://github.com/lroberts77"><i class="fab fa-github"></i></a></div>

<div style="margin: 10px; display: flex; flex-direction: column; align-items: center;"><h4>Daria Thompson</h4><a href="https://github.com/dariathompson"><i class="fab fa-github"></i></a></div>

<div style="margin: 10px; display: flex; flex-direction: column; align-items: center;"><h4>Nima Soufiani</h4><a href="https://github.com/nimzyow"><i class="fab fa-github"></i></a></div>

<div style="margin: 10px; display: flex; flex-direction: column; align-items: center;"><h4>Anton Plisnier</h4><a href="https://github.com/apliz"><i class="fab fa-github"></i></a></div>

<div style="margin: 10px; display: flex; flex-direction: column; align-items: center;"><h4>Lila Walker</h4><a href="https://github.com/lilawalker"><i class="fab fa-github"></i></a></div>

<div style="margin: 10px; display: flex; flex-direction: column; align-items: center;"><h4>John Baxter</h4><a href="https://github.com/john-baxter"><i class="fab fa-github"></i></a></div>

</div>
<div style="border-top: 1px solid black; height: 100px; display: flex; margin-top: 20px; justify-content: center; width: 70vw;">
<h4><i class="far fa-copyright"></i> MakersBnb, Inc. All rights reserved</h4>
</div>
</div>

</body>

</html>