<form action="/calendar" method="post">

  <label for="start">Start date:</label>

  <input type="date" id="start" name="trip_start"
        value="2020-01-01"
        min="2020-01-01" max="2020-12-31">

  <label for="end">End date:</label>

  <input type="date" id="end" name="trip_end"
        value="2020-01-01"
        min="2020-01-01" max="2020-12-31">


  <input type="submit" name="Submit"/>
</form>
