<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>MakersBnb</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>

<body>

  <div id='page'>
    <form action="/spaces" method="post" id='form'>
      <h1>List your space</h1>
      <input type="text" name="name" placeholder="Name"/>
      <input type="text" name="price" placeholder="Price"/>
      <input type="text" name="date_from" placeholder="Date From"/>
      <input type="text" name="date_to" placeholder="Date To"/>

      <textarea type="text" name="description" placeholder="Description" rows="8" cols="50"></textarea>
      <input type="submit" name="Submit" id="submit"/>
    </form>
  </div>

</body>

</html>
